.field {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;  
}

.field__input{
  width: 100%;
  min-height: 3.5rem;
  padding-right: 1rem;
  
  font-family: inherit;
  font-size: 1.2em;
  text-indent: 1rem;
  
  border-radius: 1em;
  border: 1px solid var(--color-primary);
  background-color: var(--color-clear);
  outline: none;
  
  transition: all var(--transition-time) ease;
}

.field__input:focus {
  border: 1px solid var(--color-focus);
}

.field__input::placeholder {  
  color: var(--text-color-2lighter);
}
