@mixin commonFont(){
  font-family: var(--typeface-main);
  font-style: normal;
}
.title6{
  @include commonFont();
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}
.subtitle1 {
  @include commonFont();
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
.subtitle2 {
  @include commonFont();
  font-weight: 600;
  font-size: 0.87em;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.body1 {
  @include commonFont();
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body2 {
  @include commonFont();
  font-weight: 400;
  font-size: 0.88em;
  line-height: 1.25em;
  letter-spacing: 0.25px;
}
.caption{
  @include commonFont();
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0.4px;
}


