.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0 2em;
  top: 0;
  left: 0;
  background-color: var(--color-violet-secondary);
}
//TODO: cambiar el estilo por que queda medio fiero
.router-link-active{
  transform: scale(1.2);
  color: var(--color-violet-shadow);
}

.header__mobile-button{
  display: none;
}
.header__navbar{
  display: flex;
  gap: 2em;
}
@media (width <= 450px) {
  .header__mobile-button{
    display: block;
  } 
  .header__navbar{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 6rem;
    right: 0;
    background-color: #000000;
    clip-path: circle(0% at top right);
    transition: clip-path 0.4s ease-in-out;
  }
  .header__navbar.header__navbar--active {
    clip-path: circle(150% at top right);
  } 
  .router-link-active{
    color: unset;
    background-color: var(--color-violet-third);
    box-shadow: 0 0 20px 30px var(--color-violet-third);
    border-radius: 50%;
  }
}