:host{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contact{
  gap: 3em;
  height: 50%;
  width: 100%;
  max-width: 100rem;
  .contact__header{
    gap: 1em;
    .contact__title{
      color: var(--color-violet-fifth);
    }
  }
  .contact__container{
    width: 100%;
    padding: 0 10%;
  }
  .contact__form{
    display: grid;
    gap: 2em;

    .contact__inputs{
      padding: 1em 0;
      &:hover{
        color: var(--text-color);
      }
    }
  }
  .contact__btn-container{
    margin-top: 1em;
  }
  .contact__button{
    width: 100%;
    padding: 0.8em;
    border-radius: 1em; 
    cursor: pointer;
    color: var(--text-color-2lighter);
    background-color: var(--color-violet-fifth);
    &.contact__button--uncompleted{
      background-color: gray;
    }
  }
}

@media (width >= 700px) {
  .contact{
    .contact__form{
      grid-template-columns: repeat(2,1fr);
      .contact__textarea{
        grid-column: -3/-1;
      }
    }
    .contact__btn-container{
      align-items: flex-end;
      margin-top: 0;
    }
    .contact__button{
      width: fit-content;
    }   
  }
}