<main class="layout_content about">
  <header class="about__header">
    <figure class="about__container">
      <figure class="abotu__arrow-text">
        <img class="about__arrow-image" src="/assets/imgs/Arrow.png" />
        <p i18n="greeting" class="about__text-me body1">
          Hola! Soy <font class="about__text-me-color">Juan Caceffo</font>
        </p>
      </figure>
      <figure class="about__image-bg">
        <img class="about__image" src="/assets/imgs/Me.png" />
      </figure>
      <h1 i18n="position" class="about__position title6">
        Soy Desarrollador de software Full stack.
      </h1>
    </figure>
  </header>
  <section class="about__content">
    <h1
      i18n="description title"
      class="title4 about__content-title about_text-proterty"
    >
      Un poco sobre mi...
    </h1>
    <article i18n="content description" class="body1 about_text-proterty">
      Soy una persona comprometida con un continuo proceso de desarrollo,
      caracterizado por mi responsabilidad, organización y proactividad. Mi
      inquebrantable pasión por el aprendizaje, junto con mi destreza para la
      comunicación efectiva y la resolución de problemas, me impulsa hacia una
      constante evolución y crecimiento. Estoy en búsqueda activa de
      oportunidades que me desafíen y me permitan contribuir con mi capacidad de
      adaptación y creatividad, siempre orientado hacia el logro de objetivos y
      la excelencia.
    </article>
  </section>
  <footer class="about__footer">
    <article class="about__socila-media">
      <a
        class="about__icon fa-brands fa-linkedin"
        href="https://www.linkedin.com/in/juan-caceffo/"
        target="_blank"
      ></a>
      <a
        class="about__icon fa-brands fa-github"
        href="https://github.com/JuanCaceffo"
        target="_blank"
      ></a>
    </article>
    <svg
      class="about__wave"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#1A0B2E"
        fill-opacity="1"
        d="M0,192L40,176C80,160,160,128,240,128C320,128,400,160,480,154.7C560,149,640,107,720,85.3C800,64,880,64,960,80C1040,96,1120,128,1200,138.7C1280,149,1360,139,1400,133.3L1440,128L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
      ></path>
    </svg>
    <article class="about__fill-wave"></article>
  </footer>
</main>
