<main class="layout_content about">
  <header class="about__header">
    <figure class="about__container">
      <figure class="abotu__arrow-text">
        <img class="about__arrow-image" src="/assets/imgs/Arrow.png" />
        <p class="about__text-me body1">Lorem ipsum <font>dolor sit amet</font></p>
      </figure>
      <figure class="about__image-bg">
        <img class="about__image" src="/assets/imgs/Me.png" />
      </figure>
      <h1 class="about__position title6">Lorem ipsum dolor sit amet</h1>
    </figure>
  </header>
  <section class="about__content">
    <h1 class="title4 about__content-title about_text-proterty">
      Lorem ipsum dolor sit amet
    </h1>
    <article class="body1 about_text-proterty">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum dui faucibus in.
    </article>
  </section>
  <footer class="about__social-medias">
    <a href="https://www.linkedin.com/in/juan-caceffo/">linkedin</a> 
    <br>
     <a href="https://github.com/JuanCaceffo">github</a>
  </footer>
</main>
