<article class="pjt-card">
  <section class="pjt-card__content">
    <header class="pjt-card__header">
      <h6 class="pjt-card__type subtitle2">odio euismod</h6>
      <h1 class="pjt-card__title title1">amet facilisis</h1>
    </header>
    <section class="pjt-card__description body2">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Nibh ipsum consequat
        nisl vel pretium lectus quam. Turpis nunc eget lorem dolor sed. Et odio
        pellentesque diam volutpat commodo sed egestas egestas fringilla.
      </span>
      <a href="">
        <i class="pjt-card__desc-links fa-brands fa-github">repositorio</i>
      </a>
      <a href="">
        <i class="pjt-card__desc-links fa-solid fa-rocket"> deploy </i>
      </a>
    </section>
    <footer class="pjt-card__links"></footer>
  </section>
  <section class="pjt-card__ilstration">
    <figure class="pjt-card__container">
      <img class="pjt-card__img" src="/assets/mocks-imgs/pjt/wordlCapp.jpeg" />
      <img
        src="/assets/gradients/Gradient.png"
        class="pjt-card__grad pjt-card__grad--1"
      />
      <img
        src="/assets/gradients/Gradient.png"
        class="pjt-card__grad pjt-card__grad--2"
      />
    </figure>
  </section>
</article>
