<article class="pjt-card" *transloco="let t; read: 'project-card'">
  <section class="pjt-card__content">
    <header class="pjt-card__header">
      <h6 class="pjt-card__type subtitle2">{{ t('pjtTitle') }}</h6>
      <h1 class="pjt-card__title title1">{{ t('title') }}</h1>
    </header>
    <section class="pjt-card__description body2">
      <span>
        {{ t('description') }}
      </span>
      @if (!!cardData.content.repo) {
      <a [href]="cardData.content.repo">
        <i class="pjt-card__desc-links fa-brands fa-github">{{t('repo')}}</i>
      </a>
      } @if (!!cardData.content.deploy) {
      <a [href]="cardData.content.deploy">
        <i class="pjt-card__desc-links fa-solid fa-rocket">{{t('deploy')}}</i>
      </a>
      }
    </section>
    <footer class="pjt-card__links"></footer>
  </section>
  <section class="pjt-card__ilstration">
    <figure class="pjt-card__container">
      <img class="pjt-card__img" [src]="cardData.img" />
      <img
        src="/assets/gradients/Gradient.png"
        class="pjt-card__grad pjt-card__grad--1"
      />
      <img
        src="/assets/gradients/Gradient.png"
        class="pjt-card__grad pjt-card__grad--2"
      />
    </figure>
  </section>
</article>
