<article class="pjt-card">
  <section class="pjt-card__text">
      <header class="pjt-card__header">
        <h6 class="pjt-card__type subtitle2">odio euismod</h6>
        <h1 class="pjt-card__title title1">amet facilisis</h1>
      </header>
      <section class="pjt-card__content">
        <span class="pjt-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh ipsum consequat nisl vel pretium lectus quam. Turpis nunc eget lorem dolor sed. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla.
        </span>
      </section>
      <footer class="pjt-card__links">

      </footer>
    </section>
  <figure class="pjt-card__ilstration">
    <img class="pjt-card__img" src="">
    <img src="" class="pjt-card__grad1">
    <img src="" class="pjt-card__grad2">
  </figure>
</article>
