<article class="pjt-card" *transloco="let t; read: 'project-card'">
  <section class="pjt-card__content">
    <header class="pjt-card__header">
      <h6 class="pjt-card__type subtitle2">{{ t('pjtTitle-'+this.Identifier) }}</h6>
      <h1 class="pjt-card__title title2">{{ t('title-'+this.Identifier) }}</h1>
    </header>
    <section class="pjt-card__description body2">
      <span>
        {{ t('description-'+this.Identifier) }}
      </span>
      @for (item of linksInfo; track item.key) { 
        @if (!!cardData.content[item.key]) {
          <a [attr.data-testid]="'pjt-link-'+item.key" [href]="cardData.content[item.key]" target="_blank">
            <i class="pjt-card__desc-links {{item.class}}">{{ t(item.key) }}</i>
          </a>
        } 
      }
    </section>
  </section>
  <section  class="pjt-card__ilstration">
    <figure class="pjt-card__container">
      <figure class="pjt-card__img-container">
        <img class="pjt-card__img" [src]="cardData.img" />
      </figure>
      <img
        src="/assets/gradients/Gradient.png"
        class="pjt-card__grad pjt-card__grad--1"
      />
      <img
        src="/assets/gradients/Gradient.png"
        class="pjt-card__grad pjt-card__grad--2"
      />
    </figure>
  </section>
</article>
