@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

:root {
  /* ------------- colors ------------- */
  --color-violet-primary: #10091A;
  --color-violet-secondary: #1A0B2E;
  --color-violet-third: #11071F;
  --color-violet-fourth: #0B090E;
  --color-violet-fifth: #7127BA;
  --color-violet-shadow: #763CAC;
  /* ------------- Text & Typeface ------------- */
  --text-color-2lighter: hsla(207, 20%, 75%, 1);
  --text-color: hsla(207, 30%, 10%, 1);
  --typeface-main: 'Preahvihear', sans-serif;
 /* ------------- Border Radius ------------- */
  --border-radius: 0.5rem;
  --border-radius-md: 1rem;
  --border-radius-xl: 1.5rem;
  /* ------------- Box Shadow ------------- */
  --box-shadow-xs: 0.0rem 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
  --box-shadow: 0.0rem 0.4rem 1rem -0.2rem rgba(0, 0, 0, 0.2);
  --box-shadow-md: 0.25rem 0.25rem 1.2rem rgba(0, 0, 0, 0.3);
  --box-shadow-xl: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
  --box-shadow-hover: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.3);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: var(--typeface-primary);
  font-size: 10px;
  color: var(--text-color-2lighter);
}

body {
  background-color: var(--color-violet-third);
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}

a:link, :visited, :hover, :active{
  text-decoration: none;
  color: var(--text-color-2lighter);
}

.file-selected-container--multipe {
  justify-content: flex-start;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  margin: 3px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

@import url('./app/styles/typography.scss');
@import url('./app/styles/layout.scss')